@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}
#home {
  margin-top: 120px;
}
#menu-section li a:hover{
  color: rgb(57, 171, 111);
}
section {
  padding-top: 80px;
  padding-bottom: 40px;
}
section hr {
  width: 75px;
  border-top: 2px solid rgb(57, 171, 111);
}
.navbar-inverse .navbar-nav > li > a {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0px;
  letter-spacing: 2px;
  margin: 10px 20px 10px 20px;
  color: #FFF;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 1px solid rgb(57, 171, 111);
}
#home {
  margin-bottom: 50px;
}
#home #carousel-slider {
  margin-bottom: 30px;
}
#home #carousel-slider .item {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(0,0,0, 0.5);
  padding: 20px 20px 30px 20px;
}
#home #carousel-slider .item cite{
  float: right;
}
#home #carousel-slider h3 {
  line-height: 50px;
  font-family: 'Oswald', sans-serif;
  color: rgb(57, 171, 111);
}
#home #carousel-slider q {
  font-size: 16px;
  line-height: 25px;
  margin: 25px 35px;
}
#home .guranteed {
  color: rgb(57, 171, 111);
  font-weight: bolder;
  font-size: 30px;
}
.btn-custom-one {
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(57, 171, 111);
}
.btn-custom-one:hover {
  color: #fff;
  transition: 1s;
  background-color: rgb(57, 171, 111);
}
.btn-custom-two {
  color: #fff;
  background-color: rgb(57, 171, 111);
  border: 2px solid rgb(57, 171, 111);
  margin-top: 30px;
}
#services .services-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin-bottom: 30px;
  min-height: 420px;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
#services .services-wrapper ul {
  list-style: none;
}
#services .services-wrapper img {
  width: 250px;
  height: 200px;
  margin-bottom: 20px;
}
#pricing .pricing-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  background: rgba(255,255,255, .1);
}
#pricing .type {
  background-color: rgb(57, 171, 111);
}
#pricing .type h2 {
  line-height: 3em;
}
#pricing .pricing-wrapper .price {
  padding: 40px 20px 20px 20px;
  font-size: 60px;
  font-weight: 900;
}
#pricing ul {
  list-style: none;
}
#contact .contact-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  background: rgba(255,255,255, .1);
  margin: auto;
  padding: 20px;
}
#contact .contact-wrapper h2 {
  color: rgb(57, 171, 111);
  font-size: 40px;
}
#contact .contact-wrapper .btn {
  margin-bottom: 30px;
}
