@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* FREE GOOGLE FONT */

@import url(http://fonts.googleapis.com/css?family=Oswald);

/* FREE GOOGLE FONT */

body {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
#home {
  margin-top: 200px;
}
section {
  padding-top: 80px;
  padding-bottom: 40px;
}
.navbar-inverse .navbar-nav > li > a {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0px;
  letter-spacing: 2px;
  margin: 10px 20px 10px 20px;
  color: #FFF;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 1px solid rgb(57, 171, 111);
}
#carousel-slider h3 {
  line-height: 50px;
  font-family: 'Oswald', sans-serif;
}
#carousel-slider p {
  color: rgb(57, 171, 111);
  font-size: 16px;
  line-height: 25px;
  margin: 25px 35px;
}
.btn-custom-one {
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(57, 171, 111);
}
.btn-custom-one:hover {
  color: #fff;
  transition: 1s;
  background-color: rgb(57, 171, 111);
}
.btn-custom-two {
    color: #fff;
    background-color: rgb(57, 171, 111);
    border: 2px solid rgb(57, 171, 111);
}
#services .services-wrapper {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 15px;
  margin-bottom: 30px;
}
.social {
  margin: 40px;
}

.light-pricing .price {
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
}
